$base_font: 'Source Sans Pro', sans-serif;

$blue100: #003186;
$blue: #1890ff;
$red: #e30008;
$black: #000c17;
$white: #ffffff;

$pale_grey: #f5f7f9;
$pale_grey_two: #eef1f4;
$grey: #888;
$light_grey: #b7b7b7;
$dark_grey: #cbcccd;
